body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.materials_container {
    flex: 1;
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
}

.options_container{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: row; 
    display: flex;
    justify-content: center;
}

.option_img{
    height: auto;
    width: 12em;
    gap: 8em;
    display: block;
}

.title_table{
  text-align: center;
  font-size: 2em;
}

.text_table{
  text-align: center;
  font-size: 1em;
}
.table_books{
    display: flex;
    flex-direction: column; 
}

.row {
    display: flex; 
    margin-right:1em;
}

.column_title{
   background-color: #002847;
   color: white;
   flex: 1; 
   border: 1px solid #ccc;
   padding: 10px; 
   text-align: center; 
   margin: 5px;
}

.column {
    flex: 1; 
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center; 
    margin: 5px;
    background-color: #ecead3; 
    color: #000;
}